{% extends "base.html" %}


{% block title %}Certificados - CertiFlow{% endblock %}

{% block content %}
<h2 class="my-4">Certificados</h2>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Usuário</th>
            <th>Matrícula</th>
            <th>Qualificação</th>
            <th>Protocolo</th> <!-- Adicionado campo de Protocolo -->
            <th>Período</th>
            <th>Carga Horária</th>
            <th>Quantidade</th>
            <th>Pontos</th>
            <th>Ano de Conclusão</th>
            <th>Ato Normativo</th>
            <th>Tempo (anos)</th>
            <th>Arquivo</th>
            <th>Aprovar</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for certificado in certificados %}
        <tr>
            <td>{{ certificado.usuario.nome }}</td>
            <td>{{ certificado.usuario.matricula }}</td>
            <td>{{ certificado.qualificacao }}</td>
            <td>{{ certificado.protocolo }}</td> <!-- Exibe o protocolo -->
            <td>{{ certificado.periodo.strftime('%d/%m/%Y') if certificado.periodo else '' }}</td>
            <td>{{ certificado.carga_horaria }}</td>
            <td>{{ certificado.quantidade }}</td>
            <td>{{ certificado.pontos }}</td>
            <td>{{ certificado.ano_conclusao }}</td>
            <td>{{ certificado.ato_normativo }}</td>
            <td>{{ certificado.tempo }}</td>
            <td><a href="{{ url_for('uploaded_file', filename=certificado.filename) }}" target="_blank" class="btn btn-info btn-sm">Download</a></td>
            <td>
                <form action="{{ url_for('aprovar_certificado', certificado_id=certificado.id) }}" method="post">
                    <button type="submit" class="btn btn-success btn-sm">Aprovar</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('deletar_certificado', certificado_id=certificado.id) }}" method="post">
                    <button type="submit" class="btn btn-link">X</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
