{% extends "base.html" %}

{% block title %}Bem-vindo ao CertiFlow{% endblock %}

{% block content %}
<h1>Bem-vindo a Plataforma</h1>
<div class="jumbotron text-center">
    <h3>Anexe seu Certificado.</h3>
    <p class="lead">Este é o seu portal para gerenciamento de certificados. Faça login para começar a usar nossos serviços.</p>
    <hr class="my-4">
</div>

<div class="container content">
    <h2>Qualificações</h2>
    <ul>
        <li>Cursos, seminários, congressos e oficinas realizados, promovidos, articulados ou admitidos pelo Município do Recife.</li>
        <li>Cursos de atualização realizados, promovidos, articulados ou admitidos pelo Município do Recife.</li>
        <li>Cursos de aperfeiçoamento realizados, promovidos, articulados ou admitidos pelo Município do Recife.</li>
        <li>Cursos de graduação e especialização realizados em instituição pública ou privada, reconhecida pelo MEC.</li>
        <li>Mestrado, doutorado e pós-doutorado realizados em instituição pública ou privada, reconhecida pelo MEC.</li>
        <li>Instrutoria ou Coordenação de cursos promovidos pelo Município do Recife.</li>
        <li>Participação em grupos, equipes, comissões e projetos especiais, no âmbito do Município do Recife, formalizados por ato oficial.</li>
        <li>Exercício de cargos comissionados e funções gratificadas, ocupados, exclusivamente, no âmbito do Poder Executivo Municipal.</li>
    </ul>
</div>
{% endblock %}
