{% extends "base.html" %}

{% block title %}Sign Up - CertiFlow{% endblock %}

{% block content %}
<h1>Cadastre-se</h1>
<form method="POST" action="/cadastrar">
    <p><label>Matrícula:</label> <input class="form-control" type="text" name="matricula" required></p>
    <p><label>Nome:</label> <input class="form-control" type="text" name="nome" required></p>
    <p><label>Email:</label> <input class="form-control" type="email" name="email" required></p>
    <p><label>Senha:</label> <input class="form-control" type="password" name="senha" required></p>
    <p><label>Role:</label> 
        <select class="form-control" name="role" required>
            <option value="user">Usuário</option>
            <option value="admin">Administrador</option>
        </select>
    </p>
    <p><button class="btn btn-primary" type="submit">Cadastrar</button></p>
</form>
{% endblock %}
