Flask==2.2.2
Flask-SQLAlchemy==3.0.2
Flask-Migrate==4.0.1
Flask-WTF==1.0.1
Flask-Mail==0.9.1
flask-login==0.6.2
flask-bootstrap==3.3.7.1
PyJWT==2.6.0
python-dotenv
email-validator
dash==2.6.1
plotly==5.3.1
numpy==1.24.1
pandas==1.4.0
dash-bootstrap-components==1.0.3
dash-mantine-components==0.7.0
pyarrow==10.0.1
openpyxl==3.0.10
gunicorn==20.1.0
Werkzeug==2.2.2
pymysql==1.0.2
scrypt==0.8.24
apscheduler==3.6.3
WTForms==3.1.2
Flask-Bcrypt==1.0.1
pyscrypt==1.6.2

